body {
   margin: 0;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}
.flag {
    width: 300px;
    height: 200px;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

}
.circle {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
}